body {
    font-family: 'Cooper BT', serif;
    margin: 0;
    padding: 0;
    background-color: #ECEAA7;
}

.flex-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 50vh;
}

.profile_container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #329F66;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ECEAA7;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: justify;
}
.profile_container img {
    border-radius: 2%;
    margin-right: 20px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #329F66;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content > div {
    background-color: #f1f1f1;
    flex: 1 1 calc(33.333% - 20px); 
    margin: 10px;
    padding: 20px;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    position: relative; 
    color: #3F2B27; 
    font-size: 20px; 
    font-weight: bolder; 
    word-wrap: break-word;
}
a {
    color: #3F2B27;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul, p {
    font-size: 16px;
    font-weight: 100;
    color: #2a2a2a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}
table, th, td {
    font-weight: 100;
    color: #2a2a2a;
    border: 2px #3F2B27 solid;
}
th, td {
    padding: 10px;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}

#images {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 20px;
    flex-wrap: wrap;
}
#images img {
    width: 220px;
    height: 160px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    padding: 5px;
}